.aboutContent {
    display: flex;
    justify-content: center;
    padding: 5%;
    border-bottom: 5px solid #EDBF52;
}

.aboutLogo {
    width: 40%;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMap {
    width: 100vw;
}

.faq-grid-container {
    padding: 10% 5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px 40px;
    border-bottom: 5px solid #EDBF52;
  }