.expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 74vw;
  padding: 2%;
}

.expense-content {
  margin: 3% 2% 3% 0;
}

.expense-search {
  display: flex;
  height: auto;
}

.expense-search-input {
  flex: 70;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.expense-add {
  height: auto;
  margin-left: 2%;
  flex: 30;
  font-size: larger;
  font-family: 'Poppins', sans-serif !important;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}