.appointmentContent {
  display: flex;
  margin: 8px 15% 5% 5%;
  gap: 5%;
}

.appointmentText {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55vw;
}

.appointmentTitle {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin: 15px 0;
}

.appointmentButton {
  cursor: pointer;
  font-size: 1rem;
  background-color: #181308;
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 15px;
  align-self: last baseline;
}

.appointmentCalendar {
  flex: 2;
  border: 20px solid #fdf9ee;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.appointment-input-container {
  display: flex;
  width: 50vw;
  gap: 20px;
  margin: 8px 0;
}

.appointmentCalendar .react-datepicker__month {
  height: 50vh;
}

.collection-card {
  height: 10vh;
  width: 20vw;
  display: flex;
}