.content {
  background: linear-gradient(to bottom, transparent, rgba(237, 191, 82, 0.1));
}

.appointmentContent {
  display: flex;
  margin: 8px 15% 5% 5%;
  gap: 5%;
}

.appointmentText {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55vw;
  margin-bottom: 40px;
}

.appointmentTitle {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin: 15px 0;
}

.appointmentButton {
  cursor: pointer;
  font-size: 1rem;
  background-color: #181308;
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 15px;
  align-self: last baseline;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.appointmentCalendar {
  border: 20px solid rgba(237, 191, 82, 0.2);
  border-radius: 8px;
  width: fit-content;
  height: 100%;
  padding: 0 !important;
}

.appointment-input-container {
  display: flex;
  width: 50vw;
  gap: 32px;
  margin: 8px 0;
}

.appointmentCalendar .react-datepicker__month {
  height: 50vh;
}

.collection-card {
  width: fit-content;
  display: flex;
  margin: 8px 0;
}

.appointment-input-container .MuiTextField-root {
  width: 100%;
}

.appointment-collection-button {
  cursor: pointer;
  width: fit-content;
  font-size: 1rem;
  background-color: white;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: 'Poppins';
  margin: 8px 0;
}

.appointment-changecol-button {
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
  padding: 4px 12px;
  border-radius: 4px;
  font-family: 'Poppins';
  margin-left: 16px;
}

.appointment-img-container {
  width: 75px;
  height: 100px;
  overflow: hidden;
  align-self: flex-end;
  border-radius: 4px;
}

.appointment-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}