.change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 74vw;
  padding: 2%;
}

.change-password-content {
  margin: 3% 2% 3% 0;
  padding: 32px;
  height: 65vh;
  display: flex;
  flex-direction: column;
}

.change-password-form {
  margin-bottom: 2% !important;
}

.change-password-simpan {
  align-self: flex-end;
  width: 15vw;
  height: 5vh;
  background-color: black;
  color: white;
  border-radius: 5px;
}