.collection-detail {
  width: 100%;
  height: 100%;
}

.detail-content {
  margin: 8px 5% 5% 5%;
  display: flex;
  gap: 32px;
}

.detail-img {
  flex: 2;
  width: auto;
  height: 65vh;
  padding: 0;
}

.detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.detail-description {
  flex: 3;
  padding: 24px 40px 40px;
  height: fit-content;
}

.detail-name {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.detail-strip {
  border: 1px solid #edbf52;
  height: 3rem;
  margin-right: 3%;
}

.detail-button-appointment {
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: "Poppins";
  width: 100%;
  margin-top: 16px;
}

.detail-button-calendar {
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: "Poppins";
  width: 100%;
  margin-bottom: 24px;
}

.calendar {
  border: 20px solid #fdf9ee;
  border-top: 10px solid #fdf9ee;
  border-radius: 1rem;
}

.detail-left {
  flex: 2;
}

.detail-right {
  flex: 5;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.detail-buttons {
  flex: 2;
  height: fit-content;
  padding: 24px;
}

.detail-harga {
  color: #c69738;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 16px;
}