/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .confirmation-token {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #FDF9EE;
  }
  
  .confirmation-token-button-container {
    display: flex;
    justify-content: center;
  }
  
  .confirmation-token-button-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    background: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
  }
  
  .confirmation-token-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 16px 16px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }
  
  .confirmation-token-logo {
    flex: 1;
  }
  
  .confirmation-token-logo-image {
    height: 20vh;
  }
  
  .confirmation-token-input {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .form {
    width: 100%;
  }
  
  .confirmation-token-list-container {
    display: flex;
  }
  
  .confirmation-token-error {
    color: red;
    font-size: 12px;
  }
  
  .confirmation-token-title {
    font-size: 2rem;
    margin-bottom: 16px;
    font-family: 'Playfair Display', serif;
  }
  
  .confirmation-token-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .confirmation-token {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #FDF9EE;
  }
  
  .confirmation-token-button-container {
    display: flex;
    justify-content: center;
  }
  
  .confirmation-token-button-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    background: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
  }
  
  .confirmation-token-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 16px 16px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }
  
  .confirmation-token-logo {
    flex: 1;
  }
  
  .confirmation-token-logo-image {
    height: 20vh;
  }
  
  .confirmation-token-input {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .form {
    width: 100%;
  }
  
  .confirmation-token-list-container {
    display: flex;
  }
  
  .confirmation-token-error {
    color: red;
    font-size: 12px;
  }
  
  .confirmation-token-title {
    font-size: 2rem;
    margin-bottom: 16px;
    font-family: 'Playfair Display', serif;
  }
  
  .confirmation-token-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .confirmation-token {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #FDF9EE;
  }
  
  .confirmation-token-button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    background: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
  }
  
  .confirmation-token-form {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4rem 4rem 4rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }
  
  .confirmation-token-logo {
    flex: 1;
  }
  
  .confirmation-token-logo-image {
    height: 30vh;
  }
  
  .confirmation-token-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }
  
  .form {
    width: 100%;
  }
  
  .confirmation-token-list-container {
    display: flex;
  }
  
  .confirmation-token-error {
    color: red;
    font-size: 12px;
  }
  
  .confirmation-token-title {
    font-size: 2rem;
    margin-bottom: 16px;
    font-family: 'Playfair Display', serif;
  }
  
  .confirmation-token-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .confirmation-token {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #FDF9EE;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .confirmation-token-button-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    background: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
  }
  
  .confirmation-token-form {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4rem 4rem 4rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }
  
  .confirmation-token-logo {
    flex: 1;
  }
  
  .confirmation-token-logo-image {
    height: 40vh;
  }
  
  .confirmation-token-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }
  
  .form {
    width: 100%;
  }
  
  .confirmation-token-list-container {
    display: flex;
  }
  
  .confirmation-token-error {
    color: red;
    font-size: 12px;
  }
  
  .confirmation-token-title {
    font-size: 2rem;
    margin-bottom: 16px;
    font-family: 'Playfair Display', serif;
  }
  
  .confirmation-token-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .confirmation-token {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #FDF9EE;
  }
  
  .confirmation-token-button-container {
    display: flex;
    justify-content: center;
  }
  
  .confirmation-token-button-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    background: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
  }
  
  .confirmation-token-form {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4rem 4rem 4rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }
  
  .confirmation-token-logo {
    flex: 1;
  }
  
  .confirmation-token-logo-image {
    height: 40vh;
  }
  
  .confirmation-token-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }
  
  .form {
    width: 100%;
  }
  
  .confirmation-token-list-container {
    display: flex;
  }
  
  .confirmation-token-error {
    color: red;
    font-size: 12px;
  }
  
  .confirmation-token-title {
    font-size: 2rem;
    margin-bottom: 16px;
    font-family: 'Playfair Display', serif;
  }
  
  .confirmation-token-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px 0;
  }
}
