.popular-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 75vw;
  padding: 2%;
}

.popular-collection-content {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.popular-collection-selector {
  flex: 5;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 16px;
}

.save-popular-collection {
  align-self: last baseline;
  width: 40%;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  border-radius: 4px;
  font-family: "Poppins";

}

.popular-collection-display {
  flex: 5;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.popular-collection-1 {
  grid-area: 1 / 1 / 3 / 2;
  height: 30vh;
  margin: 0;
}

.popular-collection-2 {
  grid-area: 3 / 1 / 6 / 2;
  height: 45vh;
  margin: 0;
}

.popular-collection-3 {
  grid-area: 1 / 2 / 4 / 3;
  height: 45vh;
  margin: 0;
}

.popular-collection-4 {
  grid-area: 4 / 2 / 6 / 3;
  height: 30vh;
  margin: 0;
}

.popular-collection-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.popular-collection .card-container {
  background: linear-gradient(to bottom, white 87%, rgba(237, 191, 82, 0.1) 60%);
}