.edit-appointment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 74vw;
  padding: 2%;
}

.edit-appointment-form-content {
  margin: 3% 2% 3% 0;
}

.edit-appointment-form-customer {
  display: flex;
  height: auto;
}

.edit-appointment-form-simpan {
  width: 25%;
  height: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
