.custom {
  display: flex;
  flex-direction: column;
}

.customContent {
  margin: 8px 5% 10% 5%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.custom-desc {
  display: flex;
  gap: 3%;
}

.custom-button {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

.customBox {
  width: 100%;
  background-color: #FDF9EE;
  height: 70vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  border-radius: 2%;
}

.customLogo {
  background-color: #FFFFFF;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customIcon {
  color: #EDBF52;
  font-size: 3rem;
}

.customTitle {
  flex: 1;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  display: flex;
  align-items: center;
}

.customText {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.customText > div {
  margin: 10px 0;
}

.appointment-button {
  width: 50%;
  cursor: pointer;
  font-size: 1rem;
  background-color: #181308;
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 40px;
}