.reports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 74vw;
  padding: 2%;
}

.reports-content {
  margin: 2% 2% 3% 0;
}

.reports-search {
  display: flex;
  align-items: center;
}

.reports-date-filter {
  width: 100%;
}

.reports-datepicker {
  width: auto;
  flex: 1;
}

.reports-card {
  margin: 2% 0;
  display: flex;
  gap: 32px
}

.reports-card .card-container {
  flex: 1;
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: rgba(237, 191, 82, 0.2);
  position: relative;
}

.reports-card .card-container::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("/src/assets/png/admin-card-overlay.png");
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  background-position: center right;
}

.reports-card-icon {
  font-size: 32px;
  padding: 8px;
  border-radius: 8px;
  color: #EDBF52;
  background-color: white
}

.reports-card-value {
  font-size: 20px;
  font-weight: bold;
}