.reports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 74vw;
  padding: 2%;
}

.reports-content {
  margin: 3% 2% 3% 0;
}

.reports-search {
  display: flex;
  align-items: center;
  height: auto;
}

.reports-card {
  flex: 3;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.reports-date-filter {
  flex: 7;
}

.reports-datepicker {
  width: 25vw;
}
