.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 74vw;
  padding: 2%;
}

.customer-content {
  margin: 24px 2% 3% 0;
}

.customer-search {
  display: flex;
  height: auto;
  margin: 24px 0;
}

.customer-search-input {
  flex: 70;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.customer-add {
  height: auto;
  margin-left: 2%;
  flex: 30;
  font-size: larger;
  font-family: 'Poppins', sans-serif !important;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.customer-card {
  display: flex;
  gap: 32px;
}

.customer-card .card-container {
  flex: 1;
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: rgba(237, 191, 82, 0.2);
  position: relative;
}

.customer-card .card-container::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("/src/assets/png/admin-card-overlay.png");
  background-size: cover;
  opacity: 0.8;
  z-index: 1;
  background-position: center right;
}

.customer-card-icon {
  font-size: 32px;
  padding: 8px;
  border-radius: 8px;
  color: #EDBF52;
  background-color: white;
}

.customer-card-value {
  font-size: 20px;
  font-weight: bold;
}