/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .popularCollections {
    margin: 15% 5% 35%;
    flex-direction: column;
    height: 60vh;
    align-items: center;
  }
  
  .popularCollectionsTitle {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }
  
  .popularCollectionstrip {
    border: 1px solid #EDBF52;
    height: 2rem;
    margin-right: 3%;
  }
  
  .popularCollectionsTitle > p {
    margin: 0;
  }
  
  .popularCollectionsContent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    height: 100%;
  }
  
  .popularCollections1 {
    background-color: lightgrey;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 2%;
  }
  
  .popularCollections2 {
    background-color: lightgrey;
    grid-area: 3 / 1 / 6 / 2;
    border-radius: 2%;
  }
  
  .popularCollections3 {
    background-color: lightgrey;
    grid-area: 1 / 2 / 4 / 3;
    border-radius: 2%;
  }
  
  .popularCollections4 {
    background-color: lightgrey;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 2%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .popularCollections {
    margin: 15% 5% 30%;
    flex-direction: column;
    height: 90vh;
    align-items: center;
  }
  
  .popularCollectionsTitle {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }
  
  .popularCollectionstrip {
    border: 1px solid #EDBF52;
    height: 2rem;
    margin-right: 3%;
  }
  
  .popularCollectionsTitle > p {
    margin: 0;
  }
  
  .popularCollectionsContent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    height: 100%;
  }
  
  .popularCollections1 {
    background-color: lightgrey;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 2%;
  }
  
  .popularCollections2 {
    background-color: lightgrey;
    grid-area: 3 / 1 / 6 / 2;
    border-radius: 2%;
  }
  
  .popularCollections3 {
    background-color: lightgrey;
    grid-area: 1 / 2 / 4 / 3;
    border-radius: 2%;
  }
  
  .popularCollections4 {
    background-color: lightgrey;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .popularCollections {
    margin: 15% 5% 30%;
    flex-direction: column;
    height: 120vh;
    align-items: center;
  }
  
  .popularCollectionsTitle {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }
  
  .popularCollectionstrip {
    border: 1px solid #EDBF52;
    height: 3rem;
    margin-right: 3%;
  }
  
  .popularCollectionsTitle > p {
    margin: 0;
  }
  
  .popularCollectionsContent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    height: 100%;
  }
  
  .popularCollections1 {
    background-color: lightgrey;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 2%;
  }
  
  .popularCollections2 {
    background-color: lightgrey;
    grid-area: 3 / 1 / 6 / 2;
    border-radius: 2%;
  }
  
  .popularCollections3 {
    background-color: lightgrey;
    grid-area: 1 / 2 / 4 / 3;
    border-radius: 2%;
  }
  
  .popularCollections4 {
    background-color: lightgrey;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 2%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .popularCollections {
    margin: 15% 5%;
    flex-direction: column;
    height: 150vh;
    align-items: center;
  }
  
  .popularCollectionsTitle {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }
  
  .popularCollectionstrip {
    border: 1px solid #EDBF52;
    height: 3.5rem;
    margin-right: 3%;
  }
  
  .popularCollectionsTitle > p {
    margin: 0;
  }
  
  .popularCollectionsContent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    height: 100%;
  }
  
  .popularCollections1 {
    background-color: lightgrey;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 2%;
  }
  
  .popularCollections2 {
    background-color: lightgrey;
    grid-area: 3 / 1 / 6 / 2;
    border-radius: 2%;
  }
  
  .popularCollections3 {
    background-color: lightgrey;
    grid-area: 1 / 2 / 4 / 3;
    border-radius: 2%;
  }
  
  .popularCollections4 {
    background-color: lightgrey;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 2%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .popularCollections {
    margin: 15% 5%;
    display: flex;
    flex-direction: row;
    height: 95vh;
    align-items: center;
  }
  
  .popularCollectionsTitle {
    flex: 1;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }
  
  .popularCollectionstrip {
    border: 1px solid #EDBF52;
    height: 4rem;
    margin-right: 3%;
  }
  
  .popularCollectionsTitle > p {
    margin: 0;
  }
  
  .popularCollectionsContent {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    height: 100%;
  }
  
  .popularCollections1 {
    background-color: lightgrey;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 2%;
  }
  
  .popularCollections2 {
    background-color: lightgrey;
    grid-area: 3 / 1 / 6 / 2;
    border-radius: 2%;
  }
  
  .popularCollections3 {
    background-color: lightgrey;
    grid-area: 1 / 2 / 4 / 3;
    border-radius: 2%;
  }
  
  .popularCollections4 {
    background-color: lightgrey;
    grid-area: 4 / 2 / 6 / 3;
    border-radius: 2%;
  }
}
