/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    padding: 5% 10%;
    border-top: 5px solid #EDBF52;
    font-size: 0.8rem;
  }
  
  .footer>p {
    display: flex;
    align-items: center;
  }
  
  .footerLogo {
    width: 35%;
    display: none;
  }
  
  .footerLogo > img {
    width: 80%;
  }
  
  .footerCompany {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footerSupport {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .footerIcon {
    color: #EDBF52;
    margin-right: 10px;
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer {
    display: flex;
    padding: 5% 10%;
    border-top: 5px solid #EDBF52;
    font-size: 0.8rem;
  }
  
  .footer>p {
    display: flex;
    align-items: center;
  }
  
  .footerLogo {
    width: 35%;
    display: none;
  }
  
  .footerLogo > img {
    width: 80%;
  }
  
  .footerCompany {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footerSupport {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .footerIcon {
    color: #EDBF52;
    margin-right: 10px;
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    padding: 5% 5%;
    border-top: 5px solid #EDBF52;
  }
  
  .footer>p {
    display: flex;
    align-items: center;
  }
  
  .footerLogo {
    display: block;
    width: 35%;
  }
  
  .footerLogo > img {
    width: 80%;
  }
  
  .footerCompany {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footerSupport {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footerIcon {
    color: #EDBF52;
    margin-right: 10px;
    font-size: 1rem;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer {
    display: flex;
    padding: 5% 5%;
    border-top: 5px solid #EDBF52;
  }
  
  .footer>p {
    display: flex;
    align-items: center;
  }
  
  .footerLogo {
    display: block;
    width: 35%;
  }
  
  .footerLogo > img {
    width: 80%;
  }
  
  .footerCompany {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
  
  .footerSupport {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
  
  .footerIcon {
    color: #EDBF52;
    margin-right: 10px;
    font-size: 1rem;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer {
    display: flex;
    padding: 0 5%;
    border-top: 5px solid #EDBF52;
  }
  
  .footer>p {
    display: flex;
    align-items: center;
  }
  
  .footerLogo {
    width: 35%;
  }
  
  .footerLogo > img {
    width: 80%;
  }
  
  .footerCompany {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
  
  .footerSupport {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
  
  .footerIcon {
    color: #EDBF52;
    margin-right: 10px;
    font-size: 1.5rem;
  }
}
