.reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: #FDF9EE;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-submit {
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
  background: black;
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;
}

.reset-password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 4rem 4rem 4rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.logo {
  flex: 1;
}

.logoImage {
  height: 40vh;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.form {
  width: 100%;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 2rem;
  margin-bottom: 16px;
  font-family: 'Playfair Display', serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px 0;
}