@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
}

/* * {
  font-family: Avenir !important;
} */

.ce-my-message-bubble {
  background-color: #EDBF52 !important;
}

.ce-chat-title-text {
  color: black !important;
}

.ce-chat-subtitle-text {
  color: black !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #EDBF52 !important;
}

.ce-my-message-timestamp {
  color: black !important;
}

.ce-settings, 
.ce-chat-list {
  font-family: 'Poppins', sans-serif !important;
}

#new-chat-plus-button {
  visibility: hidden;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.MuiMenu-paper {
  max-height: 200px !important;
}