@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  background-color: #fcfcfc;
}

.card-container {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 16px;
  border-radius: 10px;
  /* box-shadow: 6px 4px 6px 1px rgba(200, 200, 200, 0.91);
  -webkit-box-shadow: 6px 4px 6px 1px rgba(200, 200, 200, 0.91);
  -moz-box-shadow: 6px 4px 6px 1px rgba(200, 200, 200, 0.91); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ce-my-message-bubble {
  background-color: #edbf52 !important;
}

.ce-chat-title-text {
  color: black !important;
}

.ce-chat-subtitle-text {
  color: black !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #edbf52 !important;
}

.ce-my-message-timestamp {
  color: black !important;
}

.ce-settings,
.ce-chat-list {
  font-family: "Poppins", sans-serif !important;
}

#new-chat-plus-button {
  visibility: hidden;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.MuiMenu-paper {
  max-height: 200px !important;
}

.MuiDataGrid-root,
.MuiDataGrid-columnHeaderTitle,
.MuiInputLabel-root,
.MuiOutlinedInput-root,
.mantine-Radio-labelWrapper {
  font-family: "Poppins", sans-serif !important;
}

.MuiInputBase-root {
  background-color: white;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

.MuiTabs-root .Mui-selected {
  color: black !important;
  font-weight: bold;
}

.MuiTabs-indicator {
  background-color: #edbf52 !important;
}

.MuiButtonBase-root {
  font-family: "Poppins", sans-serif !important;
}

.react-datepicker {
  width: 100%;
  height: 100%;
  border: none !important;
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif !important;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__header {
  height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fdf9ee !important;
  padding-bottom: 16px !important;
  border-bottom: 0 !important;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.react-datepicker__navigation--previous {
  left: 2vw !important;
}

.react-datepicker__navigation--next {
  right: 2vw !important;
}

.react-datepicker__month {
  margin: 0 !important;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
  height: 5vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__day--selected {
  background-color: #0288d1 !important;
  border-radius: 50% !important;
}

.react-datepicker__day {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 3rem !important;
  height: 3rem !important;
}

.react-datepicker__day:hover {
  border-radius: 50% !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-evenly;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-evenly;
}

.react-datepicker__day--excluded {
  background-color: #fbeaea;
  border-radius: 50%;
  pointer-events: none;
}
