.banner {
  width: 100%;
  height: 70vh;
  background-color: #FDF9EE;
  margin: 6% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}